

#wrap {width: 100%;box-sizing: border-box;margin: 80px auto 0;background-color: #fff;letter-spacing: -0.05em;}


/* ///// header ///// */
#wrap header.idx_header {
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 5000;
  background-color: rgba(255,255,255,0.8);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid #dddddd;
  transition: background-color 0.3s ease 0s;
  line-height: 80px;
  width: 100%;
  transition: all 0.3s;
}
#wrap header.idx_header.up {top: -80px;}
#wrap header.idx_header nav {display: flex;justify-content: space-between;align-items: center;margin: 0 auto;width: 100%;max-width: 1280px;}
#wrap header.idx_header nav .logo {cursor: pointer;display: table;}
#wrap header.idx_header nav .logo img {width: 152px;display: table-cell;vertical-align: middle;}
#wrap header.idx_header nav .button.button_nopc {display: none;}
#wrap header.idx_header nav .button.button_pc button {border-radius: 40px;padding:10px 20px;border: none;}
#wrap header.idx_header nav .button.button_pc button {font-size: 18px;letter-spacing: -0.05em;font-weight: 500;color: #000;}
#wrap header.idx_header nav .button.button_pc button.new_comp {background-color: #005876;font-size: 16px;letter-spacing: -0.05em;font-weight: 400;color: #fff;}





/* ///// main 비주얼 ///// */
#wrap section.et-hero-tabs.idx_main {padding-bottom: 100px;background-color: #f0f0f0;min-height: 800px;}
#wrap section.et-hero-tabs.idx_main .mainVisual {position: relative;width: 100%;max-width: 1280px;}
#wrap section.et-hero-tabs.idx_main .mainVisual>img {position: absolute;right: -157px;width: 100%;max-width: 1000px;}
#wrap section.et-hero-tabs.idx_main .mainVisual>div {margin: 0 auto;display: flex;justify-content: space-between;align-items: center;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text {flex: 1;text-align: left;z-index: 1000;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text>p:nth-of-type(1) {font-size: 44px;letter-spacing: -0.05em;line-height: 54px;font-weight: 400;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text>p:nth-of-type(1)>span {font-weight: bold;color: #184695;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text>p:nth-of-type(2) {margin-top: 25px;color: #555555;font-size: 24px;font-weight: 400;letter-spacing: -0.05em;}
#wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc {display: none;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text .bottomBtn.bottomBtn_pc {margin-top: 60px;display: block;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text .bottomBtn.bottomBtn_pc button {width: 200px;height: 60px;box-sizing: border-box;border-radius: 10px;font-size: 20px;letter-spacing: -0.05em;line-height: 60px;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text .bottomBtn.bottomBtn_pc button:nth-child(1) {background-color: #184695;color: #fff;transition: 0.5s;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text .bottomBtn.bottomBtn_pc button:nth-child(2) {border: 1px solid #184695;color: #184695;margin-left: 10px;transition: 0.5s;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_text .bottomBtn.bottomBtn_pc button:hover {transform: translateY(-10px);}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_img {position: relative;flex: 1;text-align: center;}
#wrap section.et-hero-tabs.idx_main .mainVisual .idx_img>img {transform: translateY(20px);}

/* ///// main 비주얼 - 애니메이션 ///// */
.review {
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  animation: motion 0.8s 
             linear 0s  
             infinite alternate;
}
@keyframes motion {
	0% {margin-top: 0px;} 
	100% {margin-top: 8px;} 
}
.review .review01 {transform: translateY(100px);}
.review .review02 {transform: translate(30px,50px);}
.review .review03 {transform: translate(100px,50px);}






/* ///// 하단 컨텐츠 ///// */

/* 탭메뉴 */
.et-hero-tabs,
.et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
.et-hero-tabs-container-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: #005876;
}
.et-hero-tabs-container-wrap .et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: inherit;
}
.et-hero-tabs-container-wrap--top {position: fixed;top: 0;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab {
  height: inherit;
  flex: 1;
  display: table;
  box-sizing: border-box;
}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab.on {background: #2287a9;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab.on>div>p,
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab.on>div>div>p {font-weight: bold;opacity: 1;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab.on>div>div>span {opacity: 1;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div {border-left: 0.1rem solid rgba(255, 255, 255,0.5);border-right: 0.1rem solid rgba(255, 255, 255,0.5);padding-left: 30px;color: #fff;display: table-cell;vertical-align: middle;text-align: left;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>p:nth-of-type(1) {font-size: 14px;letter-spacing: normal;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div {display: flex;align-items: center;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>p,
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div>p {opacity: 0.5;font-weight: 400;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div>p:nth-of-type(1) {font-size: 22px;letter-spacing: -0.05em;display: inline-block;}
.et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div>span {font-size: 23px;margin-left: 11px;opacity: 0.5;transform: translateY(3px);}
.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  background: #2287a9;
  transition: left 0.3s ease;
}




  
/* 컨텐츠 */
/* ///// tab01 이런등기 ///// */
.et-slide.tab01>div {padding-top: 100px;width: 100%;margin: 0 auto;max-width: 1280px;}
.et-slide.tab01>div>h1 {font-size: 40px;letter-spacing: -0.05em;line-height: 50px;font-weight: 300;}
.et-slide.tab01>div>h1>span.visitCount {font-weight: bold;}
.et-slide.tab01 .idx_list {display: grid;grid-template-columns: repeat(4, 1fr);column-gap: 20px;margin-top: 50px;}
.et-slide.tab01 .idx_list>li {background-color: #f0f0f0;padding: 50px 30px;flex: 1;border-radius: 20px;}
.et-slide.tab01 .idx_list>li>div>p:nth-of-type(1) {font-size: 26px;font-weight: bold;letter-spacing: -0.05em;line-height: 32px;text-align: left;}
.et-slide.tab01 .idx_list>li>div>p:nth-of-type(2) {margin-top: 15px;text-align: left;font-size: 18px;line-height: 24px;font-weight: 400;color: #555555;letter-spacing: -0.05em;}
.et-slide.tab01 .idx_list>li>div>div {text-align: right;}
.et-slide.tab01 .idx_list>li>div>div>img {width: 110px;height: 110px;}




/* ///// tab02 신규법인 ///// */
/* cont01 */
.et-slide.tab02 {margin: 100px 0;}
.et-slide.tab02>div.idx_tab02_con01 {display: flex;background-color: #eef2f8;padding-top: 100px;width: 100%;padding-bottom: 100px;}
.et-slide.tab02>div.idx_tab02_con01>div {width: 100%;margin: 0 auto;max-width: 1280px;}
.et-slide.tab02>div.idx_tab02_con01>div>p {text-align: left;display: block;color: #005876;font-size: 20px;line-height: 50px;letter-spacing: -0.05em;font-weight: bold;}
.et-slide.tab02>div.idx_tab02_con01>div>div {display: flex;margin-top: 40px;}
.et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText {flex: 0.9;text-align: left;}
.et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText>span {display: block;color: #005876;font-size: 20px;line-height: 50px;letter-spacing: -0.05em;font-weight: bold;}
.et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText>h1 {font-size: 44px;line-height: 50px;letter-spacing: -0.05em;font-weight: 300;}
.et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText>h1>span {font-weight: bold;}
.et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText>p {margin-top: 30px;font-size: 24px;line-height: 34px;letter-spacing: -0.05em;font-weight: 300;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg {flex: 1.5;display: flex;flex-direction: column;row-gap: 10px;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li {flex: 1;display: flex;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list {flex: 0.3;display: table;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div {display: table-cell;vertical-align: middle;position: relative;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span:nth-child(1) {font-size: 24px;letter-spacing: -0.05em;font-weight: 400;padding-left: 28px;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span:nth-child(1)::before {
  content:'';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  top: 50%;
  left: 20%;
  transform: translate(-50%,-50%);
  z-index: 100;
}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span.line {
  background-color: #a6a9ad;
  width: 60%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 20%;
  transform: translate(-50%,-50%) rotate(90deg);
  z-index: -1;
}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li:nth-child(5)>div.idx_left_list>div>span.line {display: none;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list {
  display: flex;
  align-items: center;
  background-color: #fff;
  flex: 1;
  text-align: left;
  padding: 15px 40px;
  border-radius: 12px;
  filter: drop-shadow(0.35rem 0.35rem 0.3rem rgba(0, 0, 0, 0.1));
}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list>img {width: 64px;height: 60px;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list>span {display: inline-block;margin-left: 29px;font-size: 26px;letter-spacing: -0.05em;font-weight: bold;}
.et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list>span>span {font-size: 24px;letter-spacing: -0.05em;font-weight: 300;}

/* cont02 */
.et-slide.tab02>div.idx_tab02_con02 {background-color: #184695;padding-top: 97px;width: 100%;padding-bottom: 100px;}
.et-slide.tab02>div.idx_tab02_con02>div {width: 100%;max-width: 1280px;margin: 0 auto;}
.et-slide.tab02>div.idx_tab02_con02>div>h1 {font-weight: 500;font-size: 44px;line-height: 50px;letter-spacing: -0.05em;font-weight: 300;color: #fff;}
.et-slide.tab02>div.idx_tab02_con02>div>h1>span {font-weight: bold;}
.et-slide.tab02>div.idx_tab02_con02>div>ul {margin-top: 49px;display: flex;column-gap: 25px;justify-content: space-between;}
.et-slide.tab02>div.idx_tab02_con02>div>ul li {background-color: #fff;padding: 50px 30px;flex: 1;border-radius: 20px;min-height: 304px;position: relative;}
.et-slide.tab02>div.idx_tab02_con02>div>ul li>div {text-align: left;}
.et-slide.tab02>div.idx_tab02_con02>div>ul li>div>span {font-size: 18px;letter-spacing: -0.05em;font-weight: bold;}
.et-slide.tab02>div.idx_tab02_con02>div>ul li>div>p {font-size: 24px;font-weight: bold;line-height: 30px;margin-top: 10px;letter-spacing: -0.05em;}
.et-slide.tab02>div.idx_tab02_con02>div>ul li>div>p>span {font-size: 18px;font-weight: 300;}
.et-slide.tab02>div.idx_tab02_con02>div>ul li:last-child>div>p>span {font-weight: 400;}
.et-slide.tab02>div.idx_tab02_con02>div>ul li>div>div {text-align: right;position: absolute;right: 30px;bottom: 50px;}
.et-slide.tab02>div.idx_tab02_con02>div>ul li>div>div>img {width: 76px;height: 76px;}

/* cont03 */
.et-slide.tab02>div.idx_tab02_con03 {background-color: #fff;padding-top: 100px;width: 100%;}
.et-slide.tab02>div.idx_tab02_con03>div {width: 100%;margin: 0 auto;max-width: 1280px;}
.et-slide.tab02>div.idx_tab02_con03>div>p {text-align: left;display: block;color: #005876;font-size: 20px;line-height: 50px;letter-spacing: -0.05em;font-weight: bold;}
.et-slide.tab02>div.idx_tab02_con03>div>div {display: flex;align-items: center;}
.et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText {flex: 1.3;text-align: left;}
.et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText>h1 {font-size: 44px;line-height: 50px;letter-spacing: -0.05em;font-weight: 300;}
.et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText>h1>span {font-weight: bold;}
.et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText>p {margin-top: 30px;font-size: 24px;line-height: 34px;letter-spacing: -0.05em;font-weight: 300;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg {flex: 1.5;display: grid;grid-template-columns: repeat(2,1fr);row-gap: 54px;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li {background-color: #fff;flex: 1;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div {display: flex;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li:nth-child(2n)>div {justify-content: end;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div>img {padding: 5px;box-sizing: border-box;width: 90px;height: 90px;border-radius: 20px;filter: drop-shadow(0.35rem 0.35rem 0.9rem rgba(0, 0, 0, 0.25));}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li:nth-child(1)>div>div>img {background-color: #e7b8b8;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li:nth-child(2)>div>div>img {background-color: #abbfe3;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li:nth-child(3)>div>div>img {background-color: #ddcaa8;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li:nth-child(4)>div>div>img {background-color: #b4d4a7;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div:nth-child(2) {display: table;margin-left: 23px;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div:nth-child(2)>div {display: table-cell;vertical-align: middle;text-align: left;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div:nth-child(2)>div>span {font-size: 20px;letter-spacing: -0.05em;font-weight: 400;}
.et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div:nth-child(2)>div>p {font-size: 28px;letter-spacing: -0.05em;font-weight: bold;}




/* ///// tab03 변경등기 ///// */
/* cont01 */
.et-slide.tab03>div.idx_tab03_con01 {display: flex;background-color: #f0f0f0;padding-top: 100px;width: 100%;padding-bottom: 100px;}
.et-slide.tab03>div.idx_tab03_con01>div {width: 100%;margin: 0 auto;display: flex;flex-direction: column;}
.et-slide.tab03>div.idx_tab03_con01>div>span {font-size: 24px;font-weight: 300;}
.et-slide.tab03>div.idx_tab03_con01>div>h1 {margin-top: 18px;font-size: 44px;line-height: 50px;letter-spacing: -0.05em;font-weight: 300;}
.et-slide.tab03>div.idx_tab03_con01>div>h1>span {font-weight: bold;}

.et-slide.tab03>div.idx_tab03_con01 .idx_imgWrap {display: none;}
.et-slide.tab03>div.idx_tab03_con01 .swiperWrap {display: block;margin-top: 50px;width: 100%;overflow: hidden;}
.et-slide.tab03>div.idx_tab03_con01 .tab03swiper .swiper-wrapper {width: 100%;}
.et-slide.tab03>div.idx_tab03_con01 .tab03swiper .swiper-slide {position: relative;margin-left: 23px;width: 240px !important;height: 278px;background-color: #fff;border-radius: 20px;padding: 50px;box-sizing: border-box;}
.et-slide.tab03>div.idx_tab03_con01 .tab03swiper .swiper-slide:first-child {margin-left: 0 !important;}
.et-slide.tab03>div.idx_tab03_con01 .tab03swiper .swiper-slide>p {font-size: 26px;font-weight: bold;letter-spacing: -0.05em;line-height: 30px;}
.et-slide.tab03>div.idx_tab03_con01 .tab03swiper .swiper-slide>img {width: 92px;height: 92px;position: absolute;left:50%;bottom: 0;transform: translate(-50%,-50%);}

/* cont02 */
.et-slide.tab03>div.idx_tab03_con02 {display: flex;background-color: #fff;padding-top: 100px;width: 100%;}
.et-slide.tab03>div.idx_tab03_con02>div {width: 100%;max-width: 1280px;margin: 0 auto;display: flex;position: relative;height: 900px;}
.et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText {text-align: left;}
.et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>span {display: block;color: #005876;font-size: 20px;line-height: 50px;letter-spacing: -0.05em;font-weight: bold;}
.et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>h1 {margin-top: 40px;font-size: 44px;line-height: 50px;letter-spacing: -0.05em;font-weight: 300;}
.et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>h1>span {font-weight: bold;}
.et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>p {margin-top: 30px;font-size: 24px;line-height: 34px;letter-spacing: -0.05em;font-weight: 300;}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg {
  position: absolute;
  right: 330px;
  bottom: 120px;
  display: grid;
  gap: 19px;
  grid-template-areas:
  ". . ."
  ". b d"
  ". b d"
  "a c ."
  ". c ."
  ". . .";
}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li {padding: 50px 30px;width: 329px;background-color: #eef2f8;border-radius: 20px;grid-template-columns: repeat(2,1fr);}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div {height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div>img {width: 74px;height: 74px;}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div>div>span {margin-top:26px;display: block;font-size: 18px;line-height: 24px;letter-spacing: -0.05em;font-weight: 400;}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div>div>p {font-size: 30px;line-height: 38px;letter-spacing: -0.05em;font-weight: 400;}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg .idx_tabImg_01 {grid-area: a; position:absolute; bottom:-20px; left:-330px;}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg .idx_tabImg_02 {grid-area: b;}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg .idx_tabImg_03 {grid-area: c;}
.et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg .idx_tabImg_04 {grid-area: d;position:absolute; top:50px; right:-330px;}





/* ///// tab04 법인전환 ///// */
/* cont01 */
.et-slide.tab04 {background-color: #f0f0f0;}
.et-slide.tab04>div.idx_tab04_con01 {padding-top: 100px;width: 100%;max-width: 1280px;margin: 0 auto;padding-bottom: 100px;}
.et-slide.tab04>div.idx_tab04_con01>h1 {font-size: 40px;letter-spacing: -0.05em;line-height: 50px;font-weight: 300;}
.et-slide.tab04>div.idx_tab04_con01>h1>span {font-weight: bold;}
.et-slide.tab04>div.idx_tab04_con01>span {font-weight: 300;display: inline-block;margin-top: 27px;line-height: 30px;letter-spacing: -0.05em;font-size: 24px;}
.et-slide.tab04>div.idx_tab04_con01>p {margin-top: 71px;font-size: 24px;letter-spacing: -0.05em;font-weight: 300;}
.et-slide.tab04 .idx_list {display: grid;grid-template-columns: repeat(2, 1fr);column-gap: 20px;margin-top: 50px;}
.et-slide.tab04 .idx_list>li {background-color: #f8f8f8;padding: 72px 49px;flex: 1;border-radius: 20px;}
.et-slide.tab04 .idx_list>li>div {display: flex;}
.et-slide.tab04 .idx_list>li>p {font-size: 36px;font-weight: bold;letter-spacing: -0.05em;line-height: 44px;text-align: left;}
.et-slide.tab04 .idx_list>li>div {margin-top: 15px;}
.et-slide.tab04 .idx_list>li>div>p {text-align: left;color: #555555;font-size: 20px;line-height: 28px;letter-spacing: -0.05em;font-weight: 400;}
.et-slide.tab04 .idx_list>li .idx_tab04_con01_icon {text-align: right;}
.et-slide.tab04 .idx_list>li .idx_tab04_con01_icon>img {width: 182px;height: 170px;}

/* cont02 */
.et-slide.tab04>div.idx_tab04_con02 {width: 100%;position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),url(../img/footerBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 515px;
  box-sizing: border-box;
}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx {width: 100%;max-width: 850px;margin: 40px auto;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx>h1 {color: #fff;font-size: 34px;letter-spacing: -0.05em;font-weight: 400;}

.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input {display: grid;grid-template-columns: repeat(2, 1fr);gap: 10px;margin-top: 24px;cursor: auto;align-items: center;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div {position: relative;width: 100%;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div>img.idx_footer_icon {position: absolute;width: 36px;height: 36px;left: 15px;top: 12px;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div>input {
  padding: 28px 56px;
  background-color: transparent;
  border-radius: 8px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255,0.5);
  color: #fff;
  text-align: left;
}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>input::placeholder {color: #fff;font-size: 20px;font-weight: 400;letter-spacing: -0.05em;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input {margin-top: 23px;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div>input:focus::placeholder {opacity: 0;font-size: 15px;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio {display: flex;justify-content: space-between;margin-top: 24px;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio input[type="radio"] {display: none;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio input[type=radio]+em {
  display: inline-block;
  background: url(../img/idx_nochk.png) no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
  transform: translateY(5px);
}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio input[type=radio]:checked +em {background: url(../img/idx_chk.png) no-repeat;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio input[type=radio]:checked +em +span {opacity: 1;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio>li {flex: 1;text-align: left;color: #fff;font-size: 20px;letter-spacing: -0.05em;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio>li>div {margin-top: 20px;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio>li>div>label {display: inline-block;margin-left: 20px;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio>li>div>label:first-child {margin-left: 0;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio>li>div>label>span {cursor: pointer;display: inline-block;margin-left: 10px;opacity: 0.5;font-weight: 400;}
.et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx>button {width: 248px;height: 60px;line-height: 60px;margin-top: 62px;letter-spacing: -0.05em;background-color: #2c63c3;font-size: 20px;color: #fff;border-radius: 10px;}




/* ///// footer ///// */
#wrap footer {background-color: #525252;margin-top: 0;height: 235px;padding: 50px 0;}
#wrap footer>div.idx_footerinner {width: 100%;max-width: 1280px;margin: 50px auto;display: flex;}
#wrap footer>div.idx_footerinner>div {flex: 0.5;}
#wrap footer>div.idx_footerinner>div>a>img {width: 152px;}
#wrap footer>div.idx_footerinner>div>p {letter-spacing: -0.05em;} 
#wrap footer>div.idx_footerinner>div:nth-child(2) {flex: 1.5;}
#wrap footer>div.idx_footerinner>div:nth-child(2) p {color: #fff;font-size: 20px;font-weight: 400;}
#wrap footer>div.idx_footerinner>div:nth-child(2) p:last-child {margin-top: 35px;}
#wrap footer>div.idx_footerinner>div:nth-child(2) p:nth-of-type(2)>span.sm_tt  {font-size: 8px; color:#999; padding:20px; line-height: 5px;display: inline-block;transform: translateY(-2px);}


/*---------- 하단 상담하기 클릭 팝업창 ----------*/
.popUp {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%,-50%);
  background-color: #fff;
  display: none;
  z-index: 10000;
  width: 500px;
  text-align: center;
}
.bgcolor {
  background-color: rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position: fixed;
  left:0;
  top:0;
  z-index:9999;
  display: none;
  transition: 0.5s;
}
.popUp>div.textPop .contentGr {padding: 30px;padding: 50px;position: relative;}
.popUp>div.textPop .contentGr>div>img {width: 106px;height: 106px;width: 120px;height: 120px;}
.popUp>div.textPop .contentGr>div>h1 {font-size: 22px;font-size: 26px;letter-spacing: -0.05em;font-weight: bold;margin-top: 33px;}
.popUp>div.textPop .contentGr>div>p {margin-top: 20px;letter-spacing: -0.05em;font-size: 18px;font-size: 20px;font-weight: 300;}
.popUp>div.textPop .contentGr>div>img.idx_pop_close {position: absolute;top: 24px;right: 20px;width: 20px;height: 20px;width: 28px;height: 28px;cursor: pointer;}







/* //////////// tablet mobile 공통 //////////// */
@media (min-width: 320px) and (max-width:1280px) {
  #wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc {margin-top: 60px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc button {width: 200px;height: 60px;box-sizing: border-box;border-radius: 10px;font-size: 20px;letter-spacing: -0.05em;line-height: 60px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc button:nth-child(1) {background-color: #184695;color: #fff;transition: 0.5s;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc button:nth-child(2) {border: 1px solid #184695;color: #184695;margin-left: 10px;transition: 0.5s;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc button:hover {transform: translateY(-10px);}
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_text .bottomBtn.bottomBtn_pc {display: none;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc {display: block;}
  #wrap section.et-hero-tabs.idx_main {padding-top: 100px;box-sizing: border-box;padding-bottom: 150px;padding: 0;}
  #wrap section.et-hero-tabs.idx_main .mainVisual>div {flex-direction: column;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_text {text-align: center;}
  .et-slide.tab02>div.idx_tab02_con02>div>h1>span {display: block;}
}





/* tablet */
@media (min-width: 1024px) and (max-width:1280px) {

  /* ///// header ///// */
  #wrap header.idx_header {box-sizing: border-box;}
  #wrap header.idx_header nav {min-width: 1024px;width: 100%;box-sizing: border-box;padding: 0 20px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual {padding-bottom: 150px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_text {padding-top: 80px;}

  /* 공통 */
  .et-slide.tab01>div>h1,
  .et-slide.tab04>div.idx_tab04_con01>h1,
  .et-slide.tab03>div.idx_tab03_con01>div>h1,
  .et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText>h1,
  .et-slide.tab02>div.idx_tab02_con02>div>h1,
  .et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText>h1,
  .et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>h1 {font-size: 35px;}

  .et-hero-tabs-container-wrap {height: 70px;}
  .et-hero-tabs-container-wrap .et-hero-tabs-container {min-width: 1024px;width: 100%;}

  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>p:nth-of-type(1),
  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div>span {display: none;}
  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div {padding-left: 0;}
  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div {justify-content: center;}


  /* main */
  #wrap section.et-hero-tabs.idx_main .mainVisual>img {left: 50%;top: 50%;transform: translate(-50%,-50%);}
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_text>p:nth-of-type(1) {font-size: 40px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_text>p:nth-of-type(2) {margin-top: 20px;font-size: 22px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual>div {min-width: 1024px;width: 100%;}
  .review .review01 {transform: translate(-210px,160px);}
  .review .review02 {transform: translate(186px,-100px);}
  .review .review03 {transform: translate(100px,-108px);}

  /* tab01 */
  .et-slide.tab01>div {min-width: 1024px;width: 100%;padding: 100px 40px 0;}
  .et-slide.tab01 .idx_list>li {padding: 30px;position: relative;min-height: 350px;}
  .et-slide.tab01 .idx_list>li>div>div {position: absolute;right: 30px;bottom: 30px;}
  .et-slide.tab01 .idx_list>li>div>p:nth-of-type(1) {font-size: 24px;}

  /* tab02 */
  .et-slide.tab02>div.idx_tab02_con01 {min-width: 1024px;width: 100%;padding: 100px 40px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div {flex-direction: column;row-gap: 40px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span:nth-child(1)::before,
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span.line {left: 10%;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span:nth-child(1) {padding: 0;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span.line {width:1px; height:100%; transform:none; top:0; padding-top:10px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li:nth-child(1)>div.idx_left_list>div>span.line {top:50%;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li:nth-child(5)>div.idx_left_list>div>span.line {display: block;height:calc(50% - 7px);}
  .et-slide.tab02>div.idx_tab02_con02 {padding: 97px 40px;}
  .et-slide.tab02>div.idx_tab02_con02>div {width: 100%;}
  .et-slide.tab02>div.idx_tab02_con03>div {min-width: 1024px;width: 100%;padding: 0 40px;}
  .et-slide.tab02>div.idx_tab02_con03>div>div {flex-direction: column;align-items: stretch;gap: 30px;margin-top: 40px;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li:nth-child(2n)>div {justify-content: start;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg {margin-top: 30px;}

  /* tab03 */
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div>div>p {font-size: 24px;line-height: 26px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg {bottom: 23px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg .idx_tabImg_01 {left: -270px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg .idx_tabImg_04 {right: -272px;}
  .et-slide.tab03>div.idx_tab03_con02 {min-width: 1024px;width: 100%;padding: 100px 40px;}
  .et-slide.tab03>div.idx_tab03_con02>div {height: 1000px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li {width: 260px;}

  /* tab04 */
  .et-slide.tab04 .idx_list>li>p {font-size: 30px;line-height: 40px;}
  .et-slide.tab04 .idx_list>li>div>p {font-size: 18px;}
  .et-slide.tab04 .idx_list>li .idx_tab04_con01_icon>img {width: 150px;height: 150px;}
  .et-slide.tab04>div.idx_tab04_con01 {min-width: 1024px;width: 100%;padding: 100px 40px;}

  /* footer */
  #wrap footer {height: auto;padding: 10px 0;}
  #wrap footer>div.idx_footerinner>div {flex: 0.4;}
  #wrap footer>div.idx_footerinner {min-width: 1024px;width: 100%;padding: 0 40px;}
  #wrap footer>div.idx_footerinner>div:nth-child(2) p {font-size: 16px;}
  #wrap footer>div.idx_footerinner>div:nth-child(2) p:nth-of-type(2)>span.sm_tt {padding: 20px 10px;}
  #wrap footer>div.idx_footerinner>div:nth-child(2) p:last-child {margin-top: 20px;}
}







/* mobile */
@media (min-width: 320px) and (max-width:1023.33px) {

 
  /* ///// header ///// */
  #wrap header.idx_header nav .logo img {width: 111px;}
  #wrap header.idx_header {box-sizing: border-box;height: 60px;line-height: 60px;padding: 0 20px;}
  #wrap header.idx_header nav {height: 100%;}
  #wrap header.idx_header nav .button.button_pc {display: none;}
  #wrap header.idx_header nav .button.button_nopc {display: block;}
  /* 햄버거 메뉴 */
  .modal-notice {cursor: pointer;display: table;}
  .modal-notice>img {width: 30px;height: 30px;display: table-cell;vertical-align: middle;}
  .modal {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: none;
    z-index: 10000;
  }
  .modal.active {display: block;}
  .modal-content {
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    text-align: center;
    animation: slidefade 0.35s linear;
    background-image: url(../img/allmenu_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
  }
  @keyframes slidefade {
    0% {opacity: 0;margin-left: 150px;}
    100% {opacity: 1;margin-left: 0;}
  }
  .modal-body .modalNav {background-color: #fff;z-index: 1000;padding: 0 20px;border-bottom: 1px solid #dddddd;height: 60px;line-height: 60px;width: 100%;top: 0;position: fixed;left: 0;display: flex;align-items: center;justify-content: space-between;}
  .modal-body .modalNav .modallogo {display: inline-block;display: table;}
  .modal-body .modalNav .modallogo>img {width: 111px;display: table-cell;vertical-align: middle;}
  .modal-body .modalNav>div {display: table;}
  .modal-body .modalNav>div>img {vertical-align: middle;display: table-cell;width: 20px;height: 20px;cursor: pointer;}
  .modal-body .modalMenu {width: 100%;margin: 0 auto;height: calc(100vh - 60px);position: relative;z-index:100;}
  .modal-body .modalMenu>div {width: 160px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
  .modal-body .modalMenu>div>button {display: block;width: 100%;margin-top: 31px;font-size: 18px;letter-spacing: -0.05em;font-weight: 600;}
  .modal-body .modalMenu>div>button:first-of-type {margin-top: 0;}
  .modal-body .modalMenu>div>button.mo_new_comp {
    background-color: #005876;
    border-radius: 20px;
    color: #fff;
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
  }
  .modal-body .modalMenu>div>p {font-size: 18px;font-weight: 300;letter-spacing: -0.05em;margin-top: 57px;}



   /* 공통 */
  #wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc {margin-top: 20px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .bottomBtn.bottomBtn_nopc button {width: 156px;height: 50px;font-size: 16px;line-height: 50px;}
  #wrap  {margin-top: 60px;}
  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>p:nth-of-type(1),
  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div>span {display: none;}
  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div {padding-left: 0;}
  .et-hero-tabs-container-wrap {height: 60px;}
  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div {justify-content: center;}
  .et-hero-tabs-container-wrap .et-hero-tabs-container .et-hero-tab>div>div>p:nth-of-type(1) {font-size: 15px;}


  /* main */
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_img>img {width: 275px;opacity: 0.85;transform: translate(20px,10px);}
  .review>img {width: 252px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_text {padding-top: 60px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual {padding-bottom: 120px;}
  #wrap section.et-hero-tabs.idx_main .mainVisual>img {left: 50%;top: 50%;transform: translate(-50%,-50%);}
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_text>p:nth-of-type(1) {font-size: 28px;line-height: 36px;width: 80%;margin: 0 auto;}
  #wrap section.et-hero-tabs.idx_main .mainVisual .idx_text>p:nth-of-type(2) {margin-top: 20px;font-size: 18px;}
  .review .review01 {transform: translate(-38px,162px);}
  .review .review02 {transform: translate(42px,-151px);}
  .review .review03 {transform: translate(41px,-29px);}
  
  
  /* tab01 */
  .et-slide.tab01>div>h1 {font-size: 24px;line-height: 30px;width: 80%;margin: 0 auto;word-break: keep-all;text-align: center;}
  .et-slide.tab01>div {padding: 60px 20px 0;}
  .et-slide.tab01 .idx_list {grid-template-columns: repeat(1, 1fr);gap: 10px;margin-top: 30px;}
  .et-slide.tab01 .idx_list>li {padding: 24px;position: relative;border-radius: 12px;}
  .et-slide.tab01 .idx_list>li>div>div{position: absolute;right: 24px;bottom: 24px;}
  .et-slide.tab01 .idx_list>li>div>p:nth-of-type(1) {font-size: 19px;line-height: 24px;}
  .et-slide.tab01 .idx_list>li>div>p:nth-of-type(2) {margin-top: 8px;font-size: 15px;line-height: 20px;}
  .et-slide.tab01 .idx_list>li>div>div>img {width: 100px;height: 100px;}


  /* tab02*/
  .et-slide.tab02 {margin: 60px 0 0 0;}
  .et-slide.tab02>div.idx_tab02_con01>div>p {display: none;}
  .et-slide.tab02>div.idx_tab02_con01>div>div {flex-direction: column;}
  .et-slide.tab02>div.idx_tab02_con01>div>div {margin-top: 0;}
  .et-slide.tab02>div.idx_tab02_con01 {padding: 60px 20px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText>h1 {font-size: 26px;line-height: normal;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText {text-align: center;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>div.idx_tabText>p {margin-top: 15px;font-size: 18px;line-height: 24px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg {margin-top: 30px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list {flex: 0.4;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span:nth-child(1) {font-size: 14px;padding-left: 12px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list {padding: 20px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list>span {font-size: 19px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list>span>span {font-size: 15px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list>img {width: 46px;height: 46px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list>span {margin-left: 18px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_right_list>span>span {display: block;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span:nth-child(1)::before {width: 5px;height: 5px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li>div.idx_left_list>div>span.line {width:1px; height:100%; transform:none; top:0; padding-top:10px;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li:nth-child(1)>div.idx_left_list>div>span.line {top:50%;}
  .et-slide.tab02>div.idx_tab02_con01>div>div>ul.idx_tabImg li:nth-child(5)>div.idx_left_list>div>span.line {display: block;height:calc(50% - 7px);}
  .et-slide.tab02>div.idx_tab02_con02>div>h1 {font-size: 26px;line-height: normal;margin: 0 auto;word-break: keep-all;text-align: center;}
  .et-slide.tab02>div.idx_tab02_con02 {padding: 60px 20px;}
  .et-slide.tab02>div.idx_tab02_con02>div>ul {display: grid;grid-template-columns: repeat(2, 1fr);gap: 12px;margin-top: 30px;}
  .et-slide.tab02>div.idx_tab02_con02>div>ul li {padding: 24px;min-height: 198px;border-radius: 12px;}
  .et-slide.tab02>div.idx_tab02_con02>div>ul li>div>span {font-size: 12px;}
  .et-slide.tab02>div.idx_tab02_con02>div>ul li>div>p>span {font-size: 15px;}
  .et-slide.tab02>div.idx_tab02_con02>div>ul li>div>p {font-size: 19px;line-height: 26px;}
  .et-slide.tab02>div.idx_tab02_con02>div>ul li>div>div {right: 24px;bottom: 24px;}
  .et-slide.tab02>div.idx_tab02_con02>div>ul li>div>div>img {width: 49px;height: 49px;}
  .et-slide.tab02>div.idx_tab02_con03 {padding: 60px 20px;}
  .et-slide.tab02>div.idx_tab02_con03>div>p {display: none;}
  .et-slide.tab02>div.idx_tab02_con03>div>div {flex-direction: column;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText>h1 {font-size: 26px;line-height: normal;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText {text-align: center;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText>p {margin-top: 15px;font-size: 18px;line-height: 24px;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>div.idx_tabText>p>br {display: none;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg {margin-top: 33px;width: 100%;row-gap: 34px;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div {flex-direction: column;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div:nth-child(2) {margin-left: 0;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div:nth-child(2)>div>span {font-size: 15px;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div:nth-child(2)>div {display: block;margin-top: 19px;text-align: center;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div>img {width: 72px;height: 72px;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div:nth-child(2)>div>p {font-size: 22px;}
  .et-slide.tab02>div.idx_tab02_con03>div>div>ul.idx_tabImg li>div>div>img {border-radius: 12px;}


  /* tab03*/
  .et-slide.tab03>div.idx_tab03_con01 {padding: 60px 20px;}
  .et-slide.tab03>div.idx_tab03_con01>div>span {font-size: 18px;}
  .et-slide.tab03>div.idx_tab03_con01>div>h1 {font-size: 26px;margin-top: 0;line-height: normal;}
  .et-slide.tab03>div.idx_tab03_con01 .swiperWrap {display: none;}
  .et-slide.tab03>div.idx_tab03_con01 .idx_imgWrap {display: grid;grid-template-columns: repeat(3,1fr);gap: 10px;margin-top: 30px;} 
  .et-slide.tab03>div.idx_tab03_con01 .idx_imgWrap .idx_imgWrap_div {position: relative;background-color: #fff;border-radius: 12px;padding: 24px 15px;box-sizing: border-box;height: 152px;min-width: 100px;}
  .et-slide.tab03>div.idx_tab03_con01 .idx_imgWrap .idx_imgWrap_div>p {font-size: 17px;font-weight: bold;letter-spacing: -0.05em;line-height: 20px;}
  .et-slide.tab03>div.idx_tab03_con01 .idx_imgWrap .idx_imgWrap_div>img {width: 50px;height: 50px;position: absolute;left:50%;bottom: 0;transform: translate(-50%,-50%);}
  .et-slide.tab03>div.idx_tab03_con02 {padding: 60px 20px;}
  .et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText {text-align: center;}
  .et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>span {display: none;}
  .et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>h1 {font-size: 26px;line-height: normal;margin-top: 0;}
  .et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>p {font-size: 18px;line-height: 24px;width: 80%;margin: 15px auto 0;}
  .et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>p>span {display: block;}
  .et-slide.tab03>div.idx_tab03_con02>div>div.idx_tabText>p>br {display: none;}
  .et-slide.tab03>div.idx_tab03_con02>div {flex-direction: column;height: auto;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg {position: static;display: block;margin-top: 30px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li {width: auto;padding: 30px;height: auto;box-sizing: content-box;border-radius: 12px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li:nth-child(2)>div>div>p>span {display: block;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div>div>span {margin-top: 15px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg>li:not(:nth-child(1)) {margin-top: 12px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div>div>p {font-size: 22px;line-height: 28px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div>div>span {font-size: 15px;line-height: 18px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg .idx_tabImg_01 {position: static;bottom: unset;left: unset;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg .idx_tabImg_04 {position: static;bottom: unset;right: unset;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li>div>img {width: 50px;height: 50px;}
  .et-slide.tab03>div.idx_tab03_con02>div>ul.idx_tabImg li:last-child>div>div>p>br {display: none;}


  /* tab04 */  
  .et-slide.tab04>div.idx_tab04_con01 {padding: 60px 20px;}
  .et-slide.tab04>div.idx_tab04_con01>h1 {font-size: 24px;line-height: 30px;margin-top: 0;}
  .et-slide.tab04>div.idx_tab04_con01>h1>span {display: block;}
  .et-slide.tab04>div.idx_tab04_con01>span {font-size: 18px;margin-top: 15px;}
  .et-slide.tab04 .idx_list {margin-top: 30px;grid-template-columns: repeat(1,1fr);gap: 10px;}
  .et-slide.tab04 .idx_list>li {padding: 30px;background-color: #ffffff;}
  .et-slide.tab04 .idx_list>li .idx_tab04_con01_icon>img {width: 112px;height: 112px;}
  .et-slide.tab04 .idx_list>li:nth-child(2)>p>br {display: none;}
  .et-slide.tab04 .idx_list>li>p {font-size: 19px;line-height: 24px;text-align: center;}
  .et-slide.tab04 .idx_list>li>div {flex-direction: column;}
  .et-slide.tab04 .idx_list>li>div>p {font-size: 16px;line-height: 22px;text-align: center;}
  .et-slide.tab04 .idx_list>li:nth-child(2)>div>p>span {display: block;}
  .et-slide.tab04 .idx_list>li:nth-child(2)>div>p>br {display: none;}
  .et-slide.tab04 .idx_list>li .idx_tab04_con01_icon {text-align: center;margin-top: 20px;}
  .et-slide.tab04>div.idx_tab04_con01>p {font-size: 18px;width: 90%;margin: 30px auto 0;}
  .et-slide.tab04>div.idx_tab04_con02 {height: 610px;padding: 0 20px;background-position: top center;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx {min-width: auto;height: unset;margin: 0 auto;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input {display: block;grid-template-columns: repeat(1,1fr);}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div {position: relative;text-align: left;color: #fff;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input input {width: 100%;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio {flex-direction: column;gap: 20px;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx>h1 {font-size: 24px;margin-top: 45px;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio>li>div>label>span {font-size: 15px;margin-left: 6px;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio>li {font-size: 16px;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio>li>div {margin-top: 16px;display: flex;justify-content: start;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio input[type=radio]+em {width: 21px;height: 21px;background: url(../img/mo_idx_nochk.png) no-repeat;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_radio input[type=radio]:checked +em {background: url(../img/mo_idx_chk.png) no-repeat;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div {position: relative;display: table;width: 100%;margin-top: 10px;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div:nth-child(1) {margin-top: 0;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div>img.idx_footer_icon {position: absolute;width: 28px;height: 28px;left: 15px;top: 10px;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div>input {
    padding: 10px 10px 10px 50px;
    background-color: transparent;
    border-radius: 8px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255,0.5);
    color: #fff;
  }
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input {margin-top: 23px;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx .idx_input>div>input:focus::placeholder {opacity: 0;font-size: 15px;}
  .et-slide.tab04>div.idx_tab04_con02 .idx_tab04_con02_tx>button {margin-top: 31px;font-size: 16px;height: 50px;line-height: 50px;}

  /* 하단 상담하기 신청 팝업창 */
  .popUp {width: 90%;max-width: 320px;}
  .popUp>div.textPop .contentGr {padding: 30px;position: relative;}
  .popUp>div.textPop .contentGr>div>img {width: 106px;height: 106px;}
  .popUp>div.textPop .contentGr>div>h1 {font-size: 22px;letter-spacing: -0.05em;}
  .popUp>div.textPop .contentGr>div>p {font-size: 18px;letter-spacing: -0.05em;}
  .popUp>div.textPop .contentGr>div>img.idx_pop_close {width: 20px;height: 20px;}


  /* footer */
  #wrap footer {height: auto;padding: 10px 0;}
  #wrap footer>div.idx_footerinner {padding: 0 20px;}
  #wrap footer>div.idx_footerinner>div:nth-child(2) p {font-size: 14px;}
  #wrap footer>div.idx_footerinner>div:nth-child(2) p:nth-of-type(2)>span.sm_tt {padding: 5px;}
  #wrap footer>div.idx_footerinner>div:nth-child(2) p:last-child {margin-top: 20px;}
  #wrap footer>div.idx_footerinner {flex-direction: column;gap: 15px;margin: 30px auto;}
  #wrap footer>div.idx_footerinner>div>a>img {width: 111px;}
}






/* mobile 가장 작은 버전 */
@media (min-width: 320px) and (max-width:359.33px) {
  .et-slide.tab01>div>h1 {width: 90%;}
}